* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    --primary-color: #861B1B;
    --secondary-color: #B64B4B;
    --positive:azure;
    --negative: #000;

}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    /* border: 1px solid black; */
    align-items: center;
    z-index: 10;
}

.social {
flex: 1;
padding-left: 1rem;

 


}

.social ul{
    display: flex;
    list-style-type: none;
    
    

}


.social a {
    text-decoration: none;
    color: black;
    padding: 1.4rem;
}

.social i {
    padding: .5rem;
    font-size: 20px;
}

.social i:hover  {
    transition: 0.3s;
  background: linear-gradient(90deg, var(--c1, var(--primary-color)), var(--c2, var(--negative)) 51%, var(--c1, var(--secondary-color))) var(--x, 0)/ 200%;
  color: var(--secondary-color);
 text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px var(--positive);
  border-radius: 10px;
  --c1: var(--negative);
  --c2: var(--negative);
}

.nav-menu {
 flex: 2;
 padding-top: .4em;
 margin-left: 3em;
 margin-right: 3em;
 padding-left: 1em;
 padding-right: 1em; 
 max-width: 555px;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    border-top: var(--secondary-color) solid 4px;

}

.nav-menu ul li {
    padding-top: .5em;
    font-family: Montserrat;
    font-weight: 600;
    color: var(--positive);
    font-size: 18px;
    text-align: center;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--positive);
}

.nav-menu ul li a:hover {
    transition: 300ms;
    color: var(--secondary-color);
}

.newsletter {
 flex: 1;
 margin-left: auto;
 display:flex;
 justify-content: space-around;
 padding-top: -15px;

}


.newsletter input {
    box-sizing: border-box;
    background: #C4C4C4;
    width: 131px;
    height: 29px;
    text-indent: 1em;

}

.newsletter button {
    background: var(--secondary-color);
    width: 75px;
    height: 29px;
}

.logo {
    display: flex;
    position: relative;
    justify-content: center;
}

.logo img {
    padding-top: 3em;
    width: 14em;
    height: 14em;
    top: 177px;
    opacity: .9;
}

.tagline{
    color: var(--positive);
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.step-inside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 4rem;
}


#more-arrows {
    width: 75px;
    height: 65px;
    
  }
  #more-arrows:hover polygon {
    fill: var(--primary-color);
    transition: all .2s ease-out;
  }
  #more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
  }
  #more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
  }
  
  polygon {
    fill: var(--primary-color);
    transition: all .2s ease-out;
  }
  polygon.arrow-middle {
    opacity: 0.75;
  }
  polygon.arrow-top {
    opacity: 0.5;
  }


.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: .7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Set to scroll to remove Parralax */
    background-attachment: fixed;
}

.pimg1 {
    opacity: 1;
}

.pimg1 {
    background-image: url(/images/Main\ Background.png);
    /* max-width: 100%; */
    min-height: 100vh;
}

.pimg1-2 {
    -webkit-box-shadow: inset 0px -200px 300px 79px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px -200px 300px 79px rgba(255,255,255,1);
         box-shadow: inset 0px -200px 300px 79px rgba(255,255,255,1);
}

.pimg2 {
    background-image: url(/images/CDAO\ Cover2.png);
    min-height: 400px;
}

.pimg3 {
    background-image: url(/images/CDAO\ Cover3.png);
    min-height: 400px;
}

.section {
    padding: 50px 80px;
    text-align: center;
}

.section-dark {
    background-color: #282e34;
}

.ptext {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: var(--negative);
}

.ptext .border {
    background-color: #282e34;
    color: var(--positive);
}


@media (max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}





/* Sticky Social Sidebar */

.fl-fl {
    display: none;
    background: var(--negative);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 200px;
    position: fixed;
    left: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }

  @media only screen and (max-width: 1050px) {
      .fl-fl {
          display: flex;
          justify-content: flex-end;
      }

      .social {
          display: none;
      }

      .newsletter {
          display: none;
      }

      header {
          justify-content: center;
      }


      .fab {
        font-size: 20px;
        color: var(--positive);
        padding: 10px 0;
        width: 30px;
        margin-right: 0;
        float: right;
      }
      
      .fl-fl:hover {
        left: -31px;
      }
      
      .fl-fl a {
        color: var(--positive);
        text-decoration: none;
        text-align: center;
        line-height: 43px;
        vertical-align: top;
        margin-right: 2em;
      }

  }
  
  
  
  .float-fb {
    top: 160px;
  }
  
  .float-tw {
    top: 215px;
  }
  
  .float-rs {
    top: 270px;
  }
  
  .float-ig {
    top: 325px;
  }

  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}


  .sponsors .arts{
      background-image: url(/images/arts-council.png);
      background-size: 75px, 65px;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0 40px;
      max-width: 75px;
      width: 75px;
      min-height: 80px;
      opacity: .4;
  }

  .sponsors .cimc{
    background-image: url(/images/CIMC.png);
    background-size: 75px, 65px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 40px;
    width: 75px;
    min-height: 65px;
    opacity: .4;
}


.sponsors .plugd{
    background-image: url(/images/plugd.png);
    background-size: 75px, 65px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 40px;
    width: 75px;
    min-height: 65px;
    opacity: .4;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


    








