* {
    margin: 0;
    padding: 0;
}

html { 
    background: url(./images/Main\ Background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: 'Montserrat', sans-serif;
    --primary-color: #861B1B;
    --secondary-color: #B64B4B;
    --positive:azure;
    --negative: #000;

}



header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    /* border: 1px solid black; */
    align-items: center;
}

.social {
flex: 1;
padding-left: 1rem;

 


}

.social ul{
    display: flex;
    list-style-type: none;
    
    

}


.social a {
    text-decoration: none;
    color: black;
    padding: 1.4rem;
}

.social i {
    padding: .5rem;
    font-size: 20px;
}

.social i:hover  {
    transition: 0.3s;
  background: linear-gradient(90deg, var(--c1, var(--primary-color)), var(--c2, var(--negative)) 51%, var(--c1, var(--secondary-color))) var(--x, 0)/ 200%;
  color: var(--secondary-color);
 text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px var(--positive);
  border-radius: 10px;
  --c1: var(--negative);
  --c2: var(--negative);
}

.nav-menu {
 flex: 2;
 padding-top: .4em;
 margin-left: 3em;
 margin-right: 3em;
 padding-left: 1em;
 padding-right: 1em; 
 max-width: 555px;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    border-top: var(--secondary-color) solid 4px;

}

.nav-menu ul li {
    padding-top: .5em;
    font-family: Montserrat;
    font-weight: 600;
    color: var(--positive);
    font-size: 18px;
    text-align: center;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--positive);
}

.nav-menu ul li a:hover {
    transition: 300ms;
    color: var(--secondary-color);
}

.newsletter {
 flex: 1;
 margin-left: auto;
 /* border: 1px solid red; */
 display:flex;
 justify-content: space-around;
 padding-top: -15px;

}


.newsletter input {
    box-sizing: border-box;
    background: #C4C4C4;
    width: 131px;
    height: 29px;
    text-indent: 1em;

}

.newsletter button {
    background: var(--secondary-color);
    width: 75px;
    height: 29px;
}

/* Sticky Social Sidebar */

.fl-fl {
    display: none;
    background: var(--negative);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 200px;
    position: fixed;
    left: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }

  @media only screen and (max-width: 1050px) {
      .fl-fl {
          display: flex;
          justify-content: flex-end;
      }

      .social {
          display: none;
      }

      .newsletter {
          display: none;
      }

      header {
          justify-content: center;
      }


      .fab {
        font-size: 20px;
        color: var(--positive);
        padding: 10px 0;
        width: 30px;
        margin-right: 0;
        float: right;
      }
      
      .fl-fl:hover {
        left: -31px;
      }
      
      .fl-fl a {
        color: var(--positive);
        text-decoration: none;
        text-align: center;
        line-height: 43px;
        vertical-align: top;
        margin-right: 2em;
      }

  }
  
  
  
  .float-fb {
    top: 160px;
  }
  
  .float-tw {
    top: 215px;
  }
  
  .float-rs {
    top: 270px;
  }
  
  .float-ig {
    top: 325px;
  }
  
  



.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    padding-top: 3em;
    width: 14em;
    height: 14em;
    top: 177px;
    opacity: .9;
}

.tagline{
    color: var(--positive);
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.step-inside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 4rem;
}


#more-arrows {
    width: 75px;
    height: 65px;
    
  }
  #more-arrows:hover polygon {
    fill: var(--primary-color);
    transition: all .2s ease-out;
  }
  #more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
  }
  #more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
  }
  
  polygon {
    fill: var(--primary-color);
    transition: all .2s ease-out;
  }
  polygon.arrow-middle {
    opacity: 0.75;
  }
  polygon.arrow-top {
    opacity: 0.5;
  }


