* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    --primary-color: #861B1B;
    --secondary-color: #B64B4B;
    --positive:azure;
    --negative: #000;

   

}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    /* border: 1px solid black; */
    align-items: center;
    z-index: 10;
}

.social {
flex: 1;
padding-left: 1rem;

}

.social ul{
    display: flex;
    list-style-type: none;
}

.social a {
    text-decoration: none;
    color: black;
    padding: 1.4rem;
}

.social i {
    padding: .5rem;
    font-size: 20px;
}

.social i:hover  {
    transition: 0.3s;
  background: linear-gradient(90deg, var(--c1, var(--primary-color)), var(--c2, var(--negative)) 51%, var(--c1, var(--secondary-color))) var(--x, 0)/ 200%;
  color: var(--secondary-color);
 text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px var(--positive);
  border-radius: 10px;
  --c1: var(--negative);
  --c2: var(--negative);
}

.nav-menu {
 flex: 2;
 padding-top: .4em;
 margin-left: 3em;
 margin-right: 3em;
 padding-left: 1em;
 padding-right: 1em; 
 max-width: 555px;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    border-top: var(--secondary-color) solid 4px;

}

.nav-menu ul li {
    padding-top: .5em;
    font-family: Montserrat;
    font-weight: 600;
    color: var(--positive);
    font-size: 18px;
    text-align: center;
}

.nav-menu li a {
    text-decoration: none;
    padding: 1.5vw;
    color: var(--positive);
}

.nav-menu ul li a:hover {
    transition: 300ms;
    color: var(--secondary-color);
}

@media only screen and (max-width: 320px) {
    #gallery {
        padding: 0;
    }
    #myImg {
        max-width: 270px;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 450px) {

    header {
        padding: 0;
    }
   
    .nav-menu {
        margin: 0;
        opacity: .9;
        padding: 0 0 0 0;
    }

    .nav-menu ul {
        align-items: center;
        flex-direction: column;
        background-color: var(--negative);
        border-top: none;
        border-radius: 3%;
        /* padding-bottom: 10vh; */
        z-index: 99;
    }

    .menu-list {
        height: 100vh;
    }

    .hide {
        transform: translate(0, -100vh);
    }

    .slide {
        animation: shimmy 1000ms;
        
    }

    .blur {
        transition-delay: 300ms;
        filter: blur(2px);
    }

    @keyframes shimmy {
        0% {
            transform: translate(0, -100vh);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    .nav-menu li a {
        padding: 2.5vw;
        font-size: 28px;
        letter-spacing: 5px;
    }

    .nav-menu ul li {
        padding: 1em;
    }






/* Hamburger  */

#nav-icon1{
    width: 60px;
    height: 45px;
    position: fixed;
    top: 2vh;
    right: 5vw;
    margin: 0 2vw 2vw auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
  

.newsletter {
 flex: 1;
 margin-left: auto;
 display:flex;
 justify-content: space-around;
 padding-top: -15px;

}


.newsletter input {
    box-sizing: border-box;
    background: #C4C4C4;
    width: 131px;
    height: 29px;
    text-indent: 1em;

}

.newsletter button {
    background: var(--secondary-color);
    width: 75px;
    height: 29px;
}

.tagline{
    width: 100%;
    top: 55%; 
    position: fixed;
    color: var(--positive);
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.step-inside{
    width: 100%;
    position: fixed;
    top: 60%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-top: 4rem;
}


#more-arrows {
    width: 75px;
    height: 65px;
    
  }
  #more-arrows:hover polygon {
    fill: var(--primary-color);
    transition: all .2s ease-out;
  }
  #more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
  }
  #more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
  }
  
  polygon {
    fill: var(--primary-color);
    transition: all .2s ease-out;
  }
  polygon.arrow-middle {
    opacity: 0.75;
  }
  polygon.arrow-top {
    opacity: 0.5;
  }

  .hide {
    transition: .6s;
    opacity: 0;
    }



.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    


    /* Set to scroll to remove Parralax */
    background-attachment: fixed;
}

.pimg2::before{
    content: "";
    position: absolute;
    z-index: 1;
    opacity: .7;
}

.pimg1 {
    opacity: 1;
    min-height: 100vh;
}

.pimg1 {
    background-image:url(/images/CDAO.svg), url(/images/Main\ Background.png);
    background-size: 15em, cover;
    background-position: 50% 25%,
                         center;
}

.pimg1-2 {
    --main-box-s: inset 0px -200px 300px 79px rgba(255,255,255,1);
    -webkit-box-shadow: var(--main-box-s);
    -moz-box-shadow: var(--main-box-s);
}

.pimg2 {
    /* background-image: url(/images/CDAO\ Cover1.png); */
    min-height: 400px;
    /* --secondary-box-s: inset 0px 80px 240px 79px rgba(0,0,0,.9);
    --tertiary-box-s: inset 0px -40px 240px -11px rgba(255,255,255,1); */
    
}

.pimg2::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(/images/CDAO\ Cover1.png);
    opacity: 0.8;
    min-height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
    
         

.pimg3 {
    background-image: url(/images/CDAO\ Cover3.png);
    min-height: 400px;
}
/* Gallery */


.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 1rem;
    padding: 3vw;
    justify-items: center;
}

/* .grid-gallery__container {
    display: flex;
    justify-content: space-around;

} */

div > img {
    width: 100%;
    max-width: 330px;
    min-height: 220px;
    opacity: 1;
    /* filter: blur(1); */
    
}

/* div > img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
} */

/* Image Modal */


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15vh;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 99;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.section {
    padding: 10vh 80px;
    text-align: center;
    
  
}

.section-dark {
    background-color: #282e34;
}

.ptext {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: var(--negative);
}

.ptext .border {
    background-color: #282e34;
    color: var(--positive);
}


@media (max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}





/* Sticky Social Sidebar */

.fl-fl {
    display: none;
    background: var(--negative);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 200px;
    position: fixed;
    left: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }

  @media only screen and (max-width: 1050px) {
      .fl-fl {
          display: flex;
          justify-content: flex-end;
      }

      .social {
          display: none;
      }

      .newsletter {
          display: none;
      }

      header {
          justify-content: center;
      }


      .fab {
        font-size: 20px;
        color: var(--positive);
        padding: 10px 0;
        width: 30px;
        margin-right: 0;
        float: right;
      }
      
      .fl-fl:hover {
        left: -31px;
      }
      
      .fl-fl a {
        color: var(--positive);
        text-decoration: none;
        text-align: center;
        line-height: 43px;
        vertical-align: top;
        margin-right: 2em;
      }

  }
  
  
  
  .float-fb {
    top: 160px;
  }
  
  .float-tw {
    top: 215px;
  }
  
  .float-rs {
    top: 325px;
  }
  
  .float-ig {
    top: 270px;
  }

  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}


  .sponsors .arts{
      background-image: url(/images/arts-council.png);
      background-size: 75px, 65px;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0 40px;
      max-width: 75px;
      width: 75px;
      min-height: 80px;
      opacity: .4;
  }

  .sponsors .cimc{
    background-image: url(/images/CIMC.png);
    background-size: 75px, 65px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 40px;
    width: 75px;
    min-height: 65px;
    opacity: .4;
}


.sponsors .plugd{
    background-image: url(/images/plugd.png);
    background-size: 75px, 65px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 40px;
    width: 75px;
    min-height: 65px;
    opacity: .4;
}

.footer-container {
    margin: -40px 0px 40px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

p > a {
    text-decoration: none;
    color: red;
}


    








